// FOOTER

.footer {
  background: linear-gradient(94deg, #051716 0%, #072826 36%, black 100%);

  * {
    font-size: 15px;
  }

  ol {
    list-style: none;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 115px;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__phones {
    display: flex;
    gap: 25px;
  }

  &-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    p {
      color: $white;
      font-size: 25.32px;
      font-weight: 300;
    }
  }

  &__navigation__list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
      color: $white;
      &::before {
        display: none;
      }
    }
  }

  &__contact-numbers {
    display: flex;
    max-width: 554px;
    gap: 25px;

    div {
      display: flex;
      max-width: 570px;
      align-items: center;
    }

    p,
    span {
      color: $white;
      font-weight: 600;
      line-height: 23px;
      display: flex;
      flex-direction: column;
    }

    .footer__contact-numbers__time {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &__contacts {
    display: flex;
    gap: 11px;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 18px;
  }

  @media (max-width: 1030px) {
    &__list {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 20px;
    }

    &__phones {
      flex-direction: column;
    }

    &__contact-numbers {
      flex-direction: column;
      text-align: center;
      gap: 0;
    }
  }

  @media (max-width: 570px) {
    &__contact-numbers {
      p {
        display: flex;
        flex-direction: column;
      }
    }
  }

  @media (max-width: 415px) {
    &__contact-numbers {
      p {
        display: flex;
        flex-direction: column;
      }
    }
    &__navigation__item {
      text-align: center;
    }
  }
}
