// FOOTER

.footer {
    background: linear-gradient(94deg, #051716 0%, #072826 36%, black 100%);
    padding: 70px 0;
  
    .container {
      max-width: 1400px;
    }
  
    ol {
      list-style: none;
    }
  
    &__list {
      display: flex;
      justify-content: space-between;
      width: 100%;
      min-height: 132px;
      flex-wrap: wrap;
    }
  
    &-logo {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 5px;
  
      p {
        color: $white;
        font-size: 25.32px;
        font-weight: 300;
      }
    }
  
    &__navigation {
      display: flex;
      padding: 0 1% 0 5%;
    }
  
    &__navigation__list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      a {
        color: $white;
      }
    }
  
    &__contact-numbers {
      display: flex;
      flex-wrap: wrap;
  
      div {
        max-width: 270px;
      }
  
      p,
      span {
        color: $white;
        font-size: 20px;
        font-weight: 600;
        line-height: 33px;
      }
  
      span {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  
    &__contacts {
      display: flex;
      gap: 11px;
      align-items: end;
      position: relative;
      right: 12px;
    }
  }
  