/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.55);
    height: 100px;
    position: absolute;
    z-index: 2;
    width: 100%;
  
    a {
      font-size: 21px;
      color: $white;
    }
  
    .email-link {
      font-size: 16px;
      font-family: 'Montserrat';
    }
  }
  
  .about-page-logo {
    position: relative;
  }
  
  /* NAVIGATION */
  
  .navigation {
    max-width: 607px;
    width: 100%;
  
    &__list {
      display: flex;
      flex-wrap: wrap;
      padding-top: 60px;
      list-style: none;
      justify-content: space-between;
    }
  
    &__item {
      padding-left: 20px;
      white-space: nowrap;
    }
  }
  
  .email-link {
    position: relative;
    padding-right: 28px;
    padding-bottom: 50px;
    margin-left: auto;
    padding-left: 20px;
    padding-top: 65px;
  
    &::before {
      content: '';
      background-image: url(../../images/icons/email-logo.svg);
      height: 22px;
      width: 28px;
      position: absolute;
      bottom: 52px;
      right: -5px;
      z-index: 10;
    }
  }