// COLORS
$brendColor: #097E77;
$brendButton: #2AC8AC;
$darkGreen: #072826;
$black: #000;
$white: #fff;

//TEXT COLORS
$textDark: #000;
$textLight: #fff;
$textGray: #878787;

// REVIEWS
$review-orange: #F29D61;
$review-purple: #B37DB3;
$review-pink: #F285AA;
$review-blue: #50C0E6;
$review-green: #6CA632;