@import './global';
@import './variables';
@import './header';
@import './footer';

// WELCOME-SECTION

main {
  background-color: #fff;
}

.welcome {
  &-section {
    position: relative;
    background: url(../../images/backgrounds/dark-filter.png),
      url(../../images/backgrounds/backg-aboutPage.jpg);
    background-attachment: fixed;
    padding: 240px 0 400px;
    background-size: cover;
    overflow-x: clip;

    @media (max-width: 768px) {
      background-attachment: scroll;
    }

    &::before {
      content: '';
      background: url(../../images/decor/decor-wave.svg) repeat-x center;
      background-size: contain;
      background-position: bottom;
      width: 100%;
      height: 200px;
      bottom: -2px;
      position: absolute;
    }

    &::after {
      content: '';
      width: 1670px;
      height: 600px;
      position: absolute;
      bottom: -350px;
      left: 50%;
      transform: translate(-50%);
      background: url(../../images/decor/flour.png) no-repeat left 10px bottom
          150px,
        url(../../images/decor/nuts.png) no-repeat right 40px bottom 320px;

      @media (max-width: 1050px) {
        background: url(../../images/decor/flour.png) no-repeat left 120px
            bottom 150px,
          url(../../images/decor/nuts.png) no-repeat right 250px bottom 160px;
      }

      @media (max-width: 780px) {
        transform: scale(0.9) translate(-58%);
        -webkit-transform: scale(0.9) translate(-58%);
        -moz-transform: scale(0.9) translate(-58%);
        -ms-transform: scale(0.9) translate(-58%);
        -o-transform: scale(0.9) translate(-58%);
        background: url(../../images/decor/flour.png) no-repeat left 280px
            bottom 75px,
          url(../../images/decor/nuts.png) no-repeat right 250px bottom 250px;
      }
    }

    .container {
      @media (max-width: 870px) {
        padding: 0 30px;
        align-items: center;

        .button-aqua {
          font-size: 16px;
        }
      }
      @media (max-width: 490px) {
        .button-aqua {
          font-size: 14px;
        }
      }
    }

    @media (max-width: 1050px) {
      padding: 150px 0 250px;
    }
    @media (max-width: 770px) {
      padding: 150px 0 100px;
    }
  }

  &-title {
    color: $white;
    font-size: 40px;
    font-weight: 800;
    max-width: 600px;
    width: 100%;

    @media (max-width: 1220px) {
      font-size: 37px;
    }
    @media (max-width: 870px) {
      text-align: center;
    }
    @media (max-width: 770px) {
      font-size: 33px;
      text-align: center;
    }
    @media (max-width: 495px) {
      font-size: 25px;
      text-align: center;
    }
  }

  &-subtitle {
    color: $white;
    font-size: 23px;
    font-weight: 300;
    padding: 10px 0 40px;
    max-width: 620px;

    @media (max-width: 1220px) {
      font-size: 20px;
    }
    @media (max-width: 870px) {
      text-align: center;
    }
    @media (max-width: 770px) {
      font-size: 16px;
      text-align: center;
      max-width: 440px;
    }
    @media (max-width: 495px) {
      font-size: 13px;
      text-align: center;
      max-width: 440px;
    }
  }
}

// MIDDLE-SECTION

.middle-section {
  margin-bottom: 150px;
  position: relative;
  overflow-x: clip;
  p {
    color: #000;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 1830px;
    height: 120%;
    background: url(../../images/decor/flax-seeds.png) no-repeat right -50px bottom -65px,
      url(../../images/decor/sesame.png) no-repeat left -102px bottom -430px,
      url(../../images/decor/butter.png) no-repeat top 18% left 47%,
      url(../../images/icons/arrow.svg) no-repeat top 12% left 44%;

    @media (max-width: 1240px) {
      background: url(../../images/decor/flax-seeds.png) no-repeat right 30px bottom -65px,
        url(../../images/decor/sesame.png) no-repeat left -102px bottom -430px;
    }

    @media (max-width: 1050px) {
      height: 1200px;
      background: url(../../images/decor/flax-seeds.png) no-repeat right 0px
          bottom 230px,
        url(../../images/decor/sesame.png) no-repeat left -140px bottom -100px;
    }

    @media (max-width: 780px) {
      transform: scale(0.8) translate(-65%);
      -webkit-transform: scale(0.8) translate(-65%);
      -moz-transform: scale(0.8) translate(-65%);
      -ms-transform: scale(0.8) translate(-65%);
      -o-transform: scale(0.8) translate(-65%);
      background: url(../../images/decor/flax-seeds.png) no-repeat left 400px
          bottom 320px,
        url(../../images/decor/sesame.png) no-repeat left 250px bottom -325px;
    }

    @media (max-width: 580px) {
      background: url(../../images/decor/flax-seeds.png) no-repeat left 400px
          bottom 385px,
        url(../../images/decor/sesame.png) no-repeat left 200px bottom -215px;
    }
    @media (max-width: 440px) {
      background: url(../../images/decor/flax-seeds.png) no-repeat left 400px
          bottom 340px,
        url(../../images/decor/sesame.png) no-repeat left 200px bottom -245px;
    }

   
  }

  .container {
    justify-content: space-between;
    

    @media (max-width: 780px) {
      padding-top: 70px;
      gap: 180px;
    }

    @media (max-width: 1050px) {
      flex-direction: column;
    }

    @media (max-width: 400px) {
      padding: 130px 10px 0;
    }

    @media (max-width: 580px) {
      padding-top: 70px;
    }
  }

  &__article {
    position: relative;
    width: fit-content;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    max-width: 472px;
    gap:20px;

    @media (max-width: 1050px) {
      max-width: 100%;
      width: 100%;
    }

    div {
      display: flex;
      flex-direction: column;

      h2 {
        @media (max-width: 1220px) {
          max-width: 480px;
          font-size: 28px;
        }
      }
      h2 {
        @media (max-width: 580px) {
          max-width: 400px;
          font-size: 23px;
        }
      }

      p,
      span {
        max-width: 480px;
        font-size: 23px;
        font-weight: 300;

        @media (max-width: 1220px) {
          font-size: 20px;
          max-width: 480px;
        }

        @media (max-width: 580px) {
          font-size: 16px;
          max-width: 330px;
        }
      }
    }

    &:first-of-type {
      div:last-of-type {
        max-width: 510px;
        margin-top: 60px;

        @media (max-width: 1050px) {
          text-align: right;
          align-self: flex-end;
          display: flex;
          align-items: flex-end;
          margin-top: 5px;
        }

        h2 {
          max-width: 400px;
        }
        
        @media (max-width: 580px){
          h2 {
            max-width: 350px;
            font-size: 23px;
          }
        }
      }
    }

    &:last-of-type {
      div:last-of-type {
        margin-top: 338px;

        span {
          @media (max-width: 550px) {
            font-size: 16px;
          }
        }

        @media (max-width: 1050px) {
          text-align: right;
          align-self: flex-end;
          display: flex;
          align-items: flex-end;
          margin-top: 30px;
          
        }
      }
      text-align: right;
      @media (max-width: 1050px) {
        text-align: left;
        gap: 200px
      }
      @media (max-width: 580px) {
        text-align: left;
        gap: 200px
      }
      padding-top: 20px;
    }
  }

  @media (max-width: 1050px) {
    margin-bottom: 90px;
  }
  @media (max-width: 780px) {
    margin-bottom: 40px;
  }
}

// GALLERY

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;

  max-height: 480px;
  overflow: hidden;

  @media (max-width: 730px) {
    max-height: 100%;
    overflow: visible;
  }

  &__article {
    max-width: 472px;
    p,
    span {
      font-size: 23px;
      font-weight: 300;
      color: #000;
      @media(max-width: 1220px){
        font-size: 20px;
      }
      @media(max-width: 580px){
        font-size: 16px;
      }
    }

    h3 {
      
      @media (max-width: 1220px) {
        font-size: 28px;
      }
      @media (max-width: 580px) {
        font-size: 23px;
      }
    }
  }

  &__item {
    position: relative;
    cursor: default;

    img {
      width: 230px;
      height: 230px;

      @media (max-width: 490px) {
        width: 145px;
        height: 145px;
      }
    }

    img:last-of-type {
      position: absolute;
      left: 0;
      opacity: 0;
      transition: all ease-in-out 0.2s;
    }

    .gallery__description {
      position: absolute;
      bottom: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: end;
      border: 0px solid #fff;
      transition: all ease-in-out 0.4s, border ease-in-out 0.2s;

      div {
        color: $darkGreen;
        background-color: rgba(255, 255, 255, 0.72);
        opacity: 0;
        transition: all ease-in-out 0.2s;
      }

      h6 {
        font-size: 16px;
        font-weight: 500;
        padding: 8px 10px 0;
        max-width: 240px;
        color: #072826;
      }

      p {
        font-size: 12px;
        font-weight: 400;
        padding: 0 10px 10px;
        max-width: 240px;
        color: #072826;
      }

      @media (max-width: 490px) {
        p {
          font-size: 9px;
        }
        h6 {
          font-size: 10px;
        }
      }

      &--wide {
        h6,
        p {
          max-width: 354px;
        }
      }
    }

    &:hover {
      img:last-of-type {
        transition: all ease-in-out 0.2s;
        opacity: 1;
      }

      .gallery__description {
        opacity: 1;
        border: 15px solid #fff;

        div {
          opacity: 1;
        }
      }
    }
  }
}

// REVIEWS

.reviews {
  background: url(../../images/backgrounds/dark-filter.png),
    url(../../images/backgrounds/backg-reviews.jpg) center fixed;
  background-size: cover;
  height: 554px;

  @media (max-width: 768px) {
    background-attachment: scroll;
  }

  @media (max-width: 970px) {
    height: 762px;
  }

  .container {
    justify-content: flex-end;
    height: inherit;
    overflow: hidden;

    & > div {
      align-items: center;
      justify-content: space-between;
      display: flex;
      max-width: 1040px;
      width: 100%;
      gap: 30px;
      flex-wrap: wrap;
      height: inherit;

      @media (max-width: 970px) {
        justify-content: center;
        align-items: baseline;
        gap: 60px;
      }
    }

    @media (max-width: 550px) {
      padding: 0 10px;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: fit-content;

    h3 {
      max-width: 510px;
      text-align: center;
      color: #fff;
      text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.76);
      font-size: 33px;
      font-weight: 300;

      @media (max-width: 1050px) {
        font-size: 21px;
      }
      @media (max-width: 580px) {
        font-size: 23px;
        max-width: 450px;
      }
      @media (max-width: 400px) {
        font-size: 16px;
      }
    }
    a {
      font-size: 16px;
      font-weight: 500;
      @media (max-width: 550px) {
        font-size: 12px;
      }
    }

    @media (max-width: 970px) {
      margin-top: 35px;
    }
  }

  &__list {
    overflow: auto;
    overflow-x: hidden;
    list-style: none;
    padding-right: 10px;
    position: relative;
    left: 9px;
    height: inherit;

    &::-webkit-scrollbar {
      width: 6px;

      &-thumb {
        border-radius: 10px;
        background-color: #2ac8ac;
      }

      &-track {
        &-piece {
          &:start {
            background: #d0d0d08a;
            margin-top: 36px;
            border-radius: 10px;
          }

          &:end {
            background: #d0d0d08a;
            margin-bottom: 36px;
            border-radius: 10px;
          }
        }
      }
    }

    @media (max-width: 970px) {
      height: 50%;
      margin-top: -100px;
    }

    @media (max-width: 550px) {
      position: static;
      padding-right: 10px;
      height: 62%;
    }
  }

  &__item {
    max-width: 280px;
    background-color: $white;
    margin: 8px 0;
    border-radius: 20px;
    padding: 17px 13px;
  }
}

.review {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;

    &-thumb {
      border-radius: 10px;
      background-color: #2ac8ac;
    }

    &-track {
      &-piece {
        &:start {
          background: #d0d0d08a;
          margin-top: 36px;
          border-radius: 10px;
        }

        &:end {
          background: #d0d0d08a;
          margin-bottom: 36px;
          border-radius: 10px;
        }
      }
    }
  }
  &__author {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__letter {
    display: block;
    font-weight: 600;
    color: $white;
    font-size: 12px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    &--orange {
      background-color: $review-orange;
    }

    &--purple {
      background-color: $review-purple;
    }

    &--pink {
      background-color: $review-pink;
    }

    &--blue {
      background-color: $review-blue;
    }

    &--green {
      background-color: $review-green;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 11px;
    color: $black;
    display: flex;
    gap: 4px;
    flex-direction: column;
  }

  &__role {
    font-weight: 600;
    font-size: 11px;
    color: $textGray;
  }

  &__stars-date {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 9px;
  }

  &__stars {
    display: block;
    background-image: url(../../images/icons/review-stars.svg);
    width: 60px;
    height: 10px;
  }

  &__date {
    font-weight: 600;
    font-size: 10px;
    color: $textGray;
  }

  &__text {
    font-weight: 500;
    font-size: 11px;
    color: #000;

    @media (max-width: 550px) {
      font-size: 9px;
    }
  }
}

main .container {
  justify-content: center;

  @media (max-width: 810px) {
    padding: 0 35px;
  }
}

.about__video {
  max-width: 100%;
  max-height: 670px;
  margin: 20px 0 30px;
}
