@import './global';
@import './variables';
@import './header';
@import './footer';

// SLIDER

.products-slider {
  height: 860px;
  background: url(../../images/backgrounds/dark-filter.png) no-repeat center
      fixed,
    url(../../images/backgrounds/carpet.jpg) no-repeat center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  overflow: hidden;

  @media (max-width: 768px) {
    background-attachment: scroll;
  }

  @media (max-width: 550px) {
    height: 730px;
  }
}

.blur {
  backdrop-filter: blur(3px);
  margin-top: 77px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider {
  &__container {
    width: 1585px;
    padding-top: 100px;
    height: fit-content;
    user-select: none;
    @media (max-width: 550px) {
      padding-top: 60px;
    }
  }

  &__navigation {
    position: absolute;
    top: 353px;
    max-width: 1500px;
    width: 100%;
    z-index: 2;
    left: 50%;
    transform: translate(-50%);

    .navigation__prev,
    .navigation__next {
      cursor: pointer;
      position: absolute;
      transition: all ease 0.3s;

      &:hover {
        scale: 1.1;
      }
      &:active {
        scale: 0.9;
      }
    }

    .navigation__prev {
      left: 15px;
      transform: rotate(180deg);
    }
    .navigation__next {
      right: 15px;
    }

    @media (max-width: 550px) {
      top: 270px;
    }
  }
}

.slide {
  &__text {
    padding: 15px 12px;
    position: absolute;
    bottom: 0;

    & > * {
      color: white;
    }
  }

  &__name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 7px;
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 14px;
  }

  &__price {
    font-weight: 400;
    font-size: 19px;
  }
}

.swiper {
  &-wrapper {
    width: 1585px;
  }

  &-slide {
    height: 540px;
    transition: transform 0.2s;
    transform: scale(0.74) !important;
    box-shadow: -3px 10px 5px 0 rgba(0, 0, 0, 0.25);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.active {
      transform: scale(1) !important;
      box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.5);
    }

    &-next {
      transform: translateX(15px) scale(0.84) !important;
      box-shadow: -8px 8px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &-prev {
      box-shadow: -8px 8px 5px 0 rgba(0, 0, 0, 0.25);
      transform: translateX(-15px) scale(0.84) !important;
    }

    @media (max-width: 550px) {
      height: 460px;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  z-index: 100;

  span {
    width: 8px;
    height: 8px;
    opacity: 1;
    margin: 0px 3px !important;
    background-color: rgba(229, 225, 224, 0.3);
    transition: 0.2s;

    &.swiper-pagination-bullet-active {
      background-color: transparent;
      background-color: rgba(229, 225, 224, 1);
    }
  }
}

// Products Information

.products-information {
  background: url(../../images/backgrounds/backg-delivery.jpg) no-repeat center;
  background-size: cover;
  max-width: 1310px;
  margin: 0 auto;

  .container {
    text-align: center;
    justify-content: center;

    backdrop-filter: blur(0px);
    background: rgba(0, 0, 0, 0.21);
    padding: 25px 0 55px;
  }

  &__text {
    max-width: 550px;
  }

  &__title {
    font-weight: 600;
    font-size: 33px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    margin-bottom: 10px;

    @media(max-width: 700px){
      font-size: 30px;
    }
    @media(max-width: 520px){
      font-size: 28px;
    }
    @media(max-width: 440px){
      font-size: 25px;
    }
  }

  &__description {
    font-weight: 500;
    font-size: 23px;
    text-align: center;
    color: #fff;

    @media(max-width: 700px){
      font-size: 20px;
    }
    @media(max-width: 520px){
      font-size: 18px;
    }
    @media(max-width: 440px){
      font-size: 16px;
    }

  }

  &__cards {
    margin-top: 70px;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 18px 60px;
    width: 100%;
    max-width: 1040px;
    padding: 0 10px;
  }

  &__card {
    width: 300px;
    border-radius: 21px;
    background-color: #fff;
    padding: 15px 9px;

    h3 {
      font-weight: 600;
      font-size: 21px;
      color: $brendColor;
      margin-bottom: 6px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      color: #0f403d;
      margin-bottom: 13px;
    }

    span {
      font-size: 16px;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    a:first-child {
      color: #fff;
      background-color: #2bc9ad;
      width: 140px;
      border-radius: 100px 10px 10px 100px;
    }

    a:last-child {
      border-radius: 10px 100px 100px 10px;
    }

    a {
      background-color: #1d9982;
      box-shadow: 0 5px 23px 0 rgba(80, 253, 201, 0.24);
      width: 28px;
      height: 37px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
    }
  }

  .small-map {
    cursor: pointer;
    border-radius: 13px;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    img {
      max-height: 100px;
    }
  }

  @media (max-width: 1040px) {
    &__cards {
      margin-top: 30px;
    }
  }
}

// Products Items

.products-box {
  background: url(../../images/backgrounds/carpet-v2.jpg) no-repeat center fixed;
  background-size: cover;

  @media (max-width: 768px) {
    background: url(../../images/backgrounds/carpet-mobile.jpg) round;
    background-size: contain;
  }

  .container {
    height: 100%;
    padding: 56px 0 0;
    max-width: 1330px;
  }

  .products {
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 50px;
      list-style: none;
      overflow: hidden;
      max-height: 770px;
      transition: max-height ease 1s;
      justify-content: last baseline;

      @media (max-width: 1330px) {
        justify-content: center;
      }
    }

    &__item {
      max-width: 295px;
      backdrop-filter: blur(7px);
      background: rgba(0, 0, 0, 0.34);
      border-radius: 5px;
      padding: 20px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }

    &__image {
      max-width: 100%;
      border-radius: 5px;
      margin-bottom: 3px;
    }

    &__name {
      font-weight: 600;
      font-size: 14px;
      color: #fff;

      &::after {
        content: '';
        background-color: #fff;
        width: 100%;
        height: 1px;
        display: block;
        margin: 5px 0;
      }
    }

    &__description {
      font-weight: 600;
      font-size: 12px;
      color: #fff;
      margin-bottom: 5px;
    }

    &__characteristics {
      display: flex;
      justify-content: space-between;

      &--coffee {
        flex-direction: column;
        gap: 2px;
        span {
          display: block;
          width: 100%;
        }
      }

      span {
        color: #fff;
        font-weight: 600;
        font-size: 12px;
      }
    }
    @media (max-width: 1150px) {
      &__list {
        padding: 0;
        max-height: 1160px;
      }
    }
    @media (max-width: 800px) {
      &__list {
        padding: 0;
        max-height: 2000px;
      }
      &__item {
        max-width: 65%;
        max-height: 65%;
      }
      &__image {
        max-height: 100%;
      }
    }
  }
}

.more-products {
  border: none;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  width: 140px;
  height: 54px;
  backdrop-filter: blur(7px);
  background: rgba(0, 0, 0, 0.34);
  margin: 46px auto;
  transition: margin 0.5s;
  cursor: pointer;
}
